@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --background: #242424;
  --background-2: #1a1a1aab;
  --primary-background: #171717;
  --modal: #cccccc;
  --fuentes-1: #fffff2;
  --accion-1: #61eb4a;
  --button-1: #3a1936;
  --button-2: #c66add;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-background);
  font-family: 'League Spartan', sans-serif;
}

::-webkit-scrollbar {
  background-color: var(--background);
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--button-2);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b350cb;
}

/* Utilities */
/* Utilities */
.container-fluid {
  max-width: 95%;
}

.container {
  max-width: 80%;
}

@media (width <= 1150px) {
}

.bg-1 {
  background: var(--primary-background);
}

.bg-2 {
  background: var(--background-2);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}

.mt-x {
  margin-top: 55vh;
}

.text-1 {
  color: var(--fuentes-1);
}

.font-10 {
  font-size: 12px;
}

.font-11 {
  font-size: 11px;
}

.font-13 {
  font-size: 13px;
}

.font-15 {
  font-size: 15px;
}

.antonio {
  font-family: 'Antonio', sans-serif;
}

.title-2 {
  font-weight: 700;
  font-size: 32px;
}

.title-3 {
  color: var(--fuentes-1);
  font-size: 60px;
  font-weight: 600;
  text-shadow: 1px 1px 5px var(--background-2);
}

@media (width <= 765px) {
  .title-2 {
    justify-content: center;
  }
}

/* Utilities */
/* Utilities */

.dropdown-toggle {
  border-radius: 50%;
  background-image: url('../img/perfil-1.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 3rem;
  height: 3rem;
}

.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;
}

.dropdown-item {
  color: var(--fuentes-1);

  .drop-svg {
    fill: var(--fuentes-1);
  }
}

.dropdown-item:hover {
  background-color: var(--background);
  color: var(--modal);

  .drop-svg {
    fill: var(--modal);
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  --bs-dropdown-bg: var(--background);
  --bs-dropdown-color: var(--fuentes-1);
}

.navbar-toggler:focus {
  box-shadow: none;
}

.cart-anchor {
  cursor: default;
}

@media (width <= 1153px) {
}

.cart-icon {
  cursor: pointer;
  fill: var(--fuentes-1);

  :hover {
    fill: var(--modal);
  }
}

.nav-link:hover {
  color: var(--modal);
}

/* Hero */

.hero h1 {
  color: white;
}

.boton a {
  text-decoration: none;
  color: white;
  padding: 15px;
  padding-left: 70px;
  padding-right: 60px;
  border: 2px solid #dd6ace;
  border-radius: 100px;
  transition: ease 0.3s;
}

.boton a:hover {
  transition: ease 0.3s;
  background-color: #dd6ace;
}

.hero .box img {
  width: 300px;
}

.hero .box2 {
  position: relative;
  left: -30%;
  z-index: 9999;
}

.hero .box3 {
  position: relative;
  left: -60%;
}

.boxi {
  opacity: 0.4;
}

/* Hero */

/* Carrousel Home */

.product-1 {
  color: var(--fuentes-1);
  border-radius: 11px;
  border: 1px solid rgba(56, 56, 56, 0.34);
  background: rgba(44, 44, 44, 0.25);
  box-shadow: 0px 6px 28px 0px rgba(0, 0, 0, 0.25);
  padding: 0.7rem 0.4rem;
  text-decoration: none;
}

.product-1-title {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.product-1 img {
  width: 100%;
}

.product-1-actual-bid {
  font-weight: 300;
}

.product-1-bid {
  font-weight: 600;
  display: inline-flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(270deg, #6731bf 4.9%, #dc6ace 78.42%);
}

.product-1-add {
  font-family: 'Antonio';
  display: inline-flex;
  padding: 4px 11px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-shrink: 0;
  background-color: transparent;
  color: var(--fuentes-1);
  border: 1px solid white;
  border-radius: 13px;
}

.collection-img {
  background-image: url('../img/collection-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 150%;
  width: 2.5rem;
  height: 2.5rem;
}

small {
  white-space: pre-wrap;
  font-size: 12px;
  width: 1rem;
}

.splide__arrow {
  top: 60%;
}

/* Carrousel Home */

/* Category Banner */

.category-banner {
  display: flex;
  width: 100%;
  height: 23em;
}

.category-banner a {
  width: 0px;
  flex-grow: 1;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: var(--fuentes-1);
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  text-shadow: 2px 2px 10px var(--background);
}

.category-banner-title {
  display: none;
}

.category-banner a:hover {
  cursor: pointer;
  width: 300px;
  opacity: 1;
  filter: brightness(1.2) contrast(1.2);

  .category-banner-title {
    display: block;
  }
}

/* Category Banner */

/* Artist Card */

.artist-card {
  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  background: rgba(38, 38, 38, 0.71);
  box-shadow: 0px 7px 28px 0px rgba(0, 0, 0, 0.25);
  width: 22%;
  margin-bottom: 1rem;
}

.artist-card-img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.artist-card-title {
  color: var(--fuentes-1);
  font-size: 19px;
  font-weight: 700;
  line-height: normal;
}

.artist-card-rs {
  color: var(--fuentes-1);
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}

.artist-card-sell {
  background-color: var(--modal);
  font-size: 13px;
  border-radius: 20px;
  padding: 0.25rem 0.6rem;
}

/* Artist Card */

/* Product */

.product-banner {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 35em;
  background-image: url('../img/nft_poster_1.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  display: grid;
  place-items: center;
}

.product-banner::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: rgb(23, 23, 23);
  background: linear-gradient(
    0deg,
    rgba(23, 23, 23, 1) 0%,
    rgba(23, 23, 23, 0.95) 7%,
    rgba(23, 23, 23, 0.9) 13%,
    rgba(23, 23, 23, 0.85) 18%,
    rgba(23, 23, 23, 0.7) 25%,
    rgba(23, 23, 23, 0.5) 50%,
    rgba(23, 23, 23, 0.2) 73%,
    rgba(23, 23, 23, 0.01) 100%
  );
}

.filter {
  border-radius: 20px;
  padding: 0.4rem 0.6rem;
  background-color: transparent;
  border: 1px solid var(--button-2);
}

.filter:hover {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: var(--button-1);
  background-color: var(--button-1);
}

@keyframes hvr-back-pulse {
  50% {
    background-color: var(--button-2);
  }
}

.input-filter {
  background-color: var(--background);
  border-radius: 20px;
  border: none;
  padding: 0.3rem 0.6rem;
  color: var(--fuentes-1);
}

/* Product  */

/* Modal content */

.modal-product {
  background-color: var(--background);
  border-radius: 15px;
}

.modal-product-img {
  border-radius: 40px;
  overflow: hidden;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-artist,
.modal-body {
  color: rgba(255, 255, 255, 0.67);
  font-size: 15px;
}

.modal-price {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.67);
  font-weight: 500;
}

.badge {
  font-size: 16px;
  background: rgb(198, 106, 221);
  background: linear-gradient(
    47deg,
    rgba(198, 106, 221, 1) 2%,
    rgba(103, 49, 191, 1) 96%
  );
}

.modal-footer {
  justify-content: start;
  padding: 1rem 1rem;
}

.btn {
  padding: 0.4rem 1rem;
}

/* Modal content */

@media (width <= 1200px) {
  .artist-card {
    width: 30%;
    margin: 0 auto;
  }

  .cart-anchor {
    margin-top: 1rem;
  }

  .container {
    max-width: 95%;
  }
}

@media (width <= 995px) {
  .artist-card {
    width: 40%;
  }
}

@media (width <= 765px) {
  .artist-card {
    width: 90%;
  }
}
